name: Build document
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Compile LaTeX
        uses: dante-ev/latex-action@latest
        with:
          root_file: main.tex
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "main.pdf"
